# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce
DB_USERNAME=postgres
DB_PASSWORD=Mughal12

# Redis
REDIS_HOST=redis-11577.crce300.ap-south-1-2.ec2.cloud.redislabs.com
REDIS_PORT=11577
REDIS_PASSWORD=1Reasxce7sQwToXJm7FH3YFPclOeYuOq

# JWT
JWT_SECRET=your_jwt_secret_at_least_256_bits

# AWS
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY=your_access_key
AWS_SECRET_KEY=your_secret_key
S3_BUCKET=ecommerce-platform-assets

# Stripe
STRIPE_SECRET_KEY=sk_test_...

# bKash
BKASH_APP_KEY=...
BKASH_APP_SECRET=...
BKASH_BASE_URL=https://sandbox.bkash.com

# Pathao
PATHAO_API_KEY=...
PATHAO_BASE_URL=https://api.pathao.com

# Internal API Key
INTERNAL_API_KEY=your_internal_api_key

# Rate limiting
RATE_LIMIT_PER_MINUTE=100
